
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
      max-width: 90%;
      margin: 0 auto;
    }

    h2 {
      text-align: center;
      color: #333;
    }

    form {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    label {
      font-weight: bold;
      display: block;
      margin-top: 20px;
    }

    input[type="text"],
    select {
      font-size: 20px;
      width: 100%;
      padding: 12px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    button {
      margin-top: 20px;
      width: 100%;
      padding: 12px;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }

    button:hover {
      background-color: #0056b3;
    }

    #resposta {
      font-size: 70px;
      margin-top: 20px;
      font-weight: bold;
      text-align: center;
      color: green;
    }

    #reader {
    width: 100vw;
    height: 100vh;
  }

.layout-horizontal {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form-box,
.scanner-box {
  font-size: 20px;
  flex: 1 1 200px;
  min-width: 300px;
}

#reader {
  width: 100%;
  height: 600px;
  max-width: 500px;
  aspect-ratio: 4/3;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}




  @media (min-width: 768px) {
    #reader {
      max-width: 600px;
      margin: auto;
      height: auto;
    }
    }
    